Can experience and age predict hours played?

In [7]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [16]:
players <- read_csv('players.csv')

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [18]:
players_tidy <- players |>
    na.omit() |>
    mutate(experience = as_factor(experience)) |>
    select(experience, Age, played_hours)
players_tidy

    experience Age played_hours
1   Pro         9  30.3
2   Veteran    17   3.8
3   Veteran    17   0.0
4   Amateur    21   0.7
5   Regular    21   0.1
6   Amateur    17   0.0
7   Regular    19   0.0
8   Amateur    21   0.0
9   Amateur    17   0.1
10  Veteran    22   0.0
11  Veteran    23   1.6
12  Pro        17   0.0
13  Beginner   25   1.5
14  Amateur    22   0.2
15  Veteran    17   0.0
16  Amateur    22   0.0
17  Beginner   17   0.0
18  Amateur    17  48.4
19  Amateur    17   0.5
20  Regular    19   0.6
21  Regular     8   0.3
22  Amateur    17   0.1
23  Beginner   17   1.0
24  Beginner   17   0.0
25  Amateur    21   0.7
26  Regular    28   0.6
27  Regular    17   0.0
28  Veteran    23   0.0
29  Amateur    23   1.8
30  Veteran    18   0.1
⋮   ⋮          ⋮   ⋮
165 Regular    21   0.1
166 Amateur    26   1.0
167 Beginner   17   0.3
168 Veteran    17   0.1
169 Veteran    17   0.1
170 Pro        21   0.4
171 Beginner   32   1.8
172 Veteran    20   0.0
173 Regular    50   0.0
174 Veteran    17   0.0
175 Amateur    17   0.3
176 Pro        17   0.0
177 Veteran    21   2.7
178 Amateur    17   0.4
179 Veteran    17   0.1
180 Amateur    24   2.1
181 Amateur    22   0.8
182 Pro        17   0.2
183 Amateur    22  32.0
184 Pro        17   1.7
185 Regular    18   0.1
186 Veteran    44   0.1
187 Amateur    17   0.0
188 Beginner   17   0.0
189 Amateur    17   0.0
190 Amateur    20   0.0
191 Amateur    17   0.0
192 Veteran    22   0.3
193 Amateur    17   0.0
194 Amateur    17   2.3

In [24]:
experience_playtime_means <- players_tidy |>
    group_by(experience) |>
    summarize(mean = mean(played_hours))
experience_playtime_means

  experience mean
1 Pro         2.7846154
2 Veteran     0.6479167
3 Amateur     6.0174603
4 Regular    18.7257143
5 Beginner    1.2485714

In [25]:
experience_age_means <- players_tidy |>
    group_by(experience) |>
    summarize(mean = mean(Age))
experience_age_means

  experience mean
1 Pro        16.92308
2 Veteran    20.95833
3 Amateur    20.25397
4 Regular    20.60000
5 Beginner   21.65714